header {
    background-color: antiquewhite;
}

ul {
    display: flex;
    gap: 0 10px;
    justify-content: center;
}

li {
    list-style: none;
}

div {
    width: 100px;
    height: 100px;
    background-color: beige;
}