.parent-box {
    width: 1000px;
    height: 800px;
    background-color: antiquewhite;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
}

.box1 {
    background-color: rgb(122, 101, 73);
}

.box2 {
    background-color: rgb(195, 156, 105);
}

.box3 {
    background-color: rgb(240, 210, 171);
}