.parent-box {
    width: 1000px;
    height: 800px;
    background-color: antiquewhite;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: rgb(195, 174, 40);
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: rgb(122, 101, 73);
}

.box3 {
    width: 200px;
    height: 200px;
    background-color: rgb(238, 202, 155);
}